@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: gray;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0px;
}

.brand-logo img {
    display: flex;
    height: 50px;
    padding: 0.5em;
}

.navbar {
    width: 100%;
    flex-basis: auto;
    background-color: #2a2e30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brand-container {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    margin: 0rem 2rem 0rem 2rem;
}

.brand-name-container{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}

.brand-name-container div{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}

.nav-menu-container {
    display: flex;
    flex: 3 0 30vw;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0rem 2rem 0rem 2rem;
}

.nav-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 5rem;
    font-size: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}


.nav-menu-container :hover{
    background-color: rgb(0, 140, 255);
}

.container-inicio{
    display: flex;
    font-size: 1.2rem;
    flex-basis: 65vh;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding: 6rem 6rem 6rem 6rem;
}

.container-cards {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-basis: 48rem;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: rgb(35, 98, 207);
}

.container-cards-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-size: 3rem;
    text-align: center;
}

.cards {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-basis: 20rem;
    flex-shrink: 1;
    margin: 1rem;
    flex-direction: column;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.card-title {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem 1rem 0 0;
    flex-wrap: wrap;
}

.card-content{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.card-button-container{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.button-info{
    background-color: rgb(0, 98, 255);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.card-button-container :hover{
    background-color: rgb(54, 131, 255);
}

.card-icon{
    background-color: rgba(0, 0, 0, 0.1);
}

.card-icon img{
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
}

.container-demo{
    display: flex;
    flex-direction: column;
}

.demo-item, .demo-item-rev{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellowgreen;
    text-align: left;
}

.demo-item-rev{
    flex-direction: row-reverse;
    background-color: red;
    text-align: right;
}

.demo-content{
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    background-color: rgb(170, 150, 54);
}

.demo-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 3rem;
    flex: 1;
}

.demo-description{
    display: flex;
    padding: 0rem 4rem 4rem 4rem;
    font-size: 1.5rem;
    flex: 1;
}

.demo-video{
    display: flex;
    background-color: rgb(190, 167, 20);
    justify-content: center;
    align-items: center;
    flex: 1 0 50%;
}

.demo-video img {
    display: flex;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 2rem 0rem 2rem 0rem;
    max-width: 100vw;
    max-height: 60vh;
}

.demo-slide {
    display: flex;
    object-fit: contain;
    background-color: rgba(144, 200, 2, 0.2);
    margin: 2rem 0rem 2rem 0rem;
    max-width: 100vw;
    max-height: 80vh;
}