@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

body {
    background-color: #c9e7f2;
}

h1 {
    color: rgb(255, 150, 0);
}

h2 {
    font-size: 45px;
}

h3{
    font-family: "Sankofa Display", sans-serif;
}

#fondo_verde {
    background-color: green;
}

.subrayado {
    text-decoration: underline;
}